@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #192422;
  --background-light: #f5fffd;
}

/* Dark mode */
:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: var(--background-dark) !important;
}

/* Light mode */
:root[data-mantine-color-scheme='light'] {
  --mantine-color-body: var(--background-light) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nlux-comp-message {
  flex: unset !important;
  min-width: 42px !important;
}

.nlux-chatRoom-container {
  --nlux-chtr--brdrRd: 10px;
}

.nlux-comp-exceptionBox {
  z-index: 299 !important;
}

.nlux-markdown-container > ol,
ul {
  list-style-type: revert;
  padding-left: 2em !important;
}

.nlux-conversationStarters-container {
  overflow-y: auto !important;
}
